<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" href="/fonst/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/chat.css">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto mt-4">
        <h3>NameSpaces</h3>
        <ul>
          <% for(var ns of namespaces) { %> 
            <li>
              <a href="/chat/<%= ns %>">
                <%= ns %> 
              </a>
            </li>
          <% } %> 
        </ul>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>